body {
    width: 100%;
    margin: 0 auto;
    max-width: 68rem;
    font-family: sans-serif;
    padding: 0.5em;
}

* {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 1pt;
    color: inherit;
    font: inherit;
    font-size: 90%;
    overflow: visible;
    line-height: normal;
}

div {
    line-height: 1.8rem;
    margin: 0;
}

textarea {
    flex: auto;
    width: 100%;
	height: auto;
	white-space: pre;
	word-wrap: normal;
	word-break: normal;
	overflow:hidden;
}

div.source {
    height: auto;
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
    overflow: hidden;
}
