my-issuer .issuer:hover label {
    text-decoration: underline;
}

my-issuer .issuer {

}

my-issuer .issuer>* {
    margin-right: 0.3ch;
}

my-issuer .issuer button {
    display: none;
}

my-issuer .issuer:hover button {
    display: inline;
}

my-issuer input[type="checkbox"] {
    display: none;
}

my-issuer .client {
    padding-left: 1em;
}

my-issuer .client>* {
    margin: 0.3ch;
}

my-issuer .client {
    display: none;
}

my-issuer input[type="checkbox"]:checked~.client {
    display: block;
}

my-issuer my-client:hover span {
    text-decoration: underline;
}

my-issuer my-client button {
    display: none;
}

my-issuer my-client:hover button {
    display: inline;
}

my-issuer input[type="checkbox"]:checked+.issuer button {
    display: inline;
}
